HelpAsCompanyApp/Connected Services/SonService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IlceListesi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sehir_Ismi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IlceListesiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IlceListesiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SehirListesi">
        <s:complexType />
      </s:element>
      <s:element name="SehirListesiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SehirListesiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlanListesi">
        <s:complexType />
      </s:element>
      <s:element name="AlanListesiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlanListesiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltAlanListesi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Alan_Ismi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltAlanListesiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AltAlanListesiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaberListele">
        <s:complexType />
      </s:element>
      <s:element name="HaberListeleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HaberListeleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaberEkle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="baslik" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="icerik" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaberEkleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HaberEkleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaberSil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="haber_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaberSilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HaberSilResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaberGüncelle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="haber_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="haber_baslik" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="haber_icerik" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaberGüncelleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HaberGüncelleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Usta_Listele">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ALAN_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ALTALAN_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SEHIR_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ILCE_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Usta_ListeleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usta_ListeleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlanIsmiDonder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="alanid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlanIsmiDonderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlanIsmiDonderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltAlanIsmiDonder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="altalanid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltAlanIsmiDonderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AltAlanIsmiDonderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SehirIsmiDonder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sehirid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SehirIsmiDonderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SehirIsmiDonderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IlceIsmiDonder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ilceid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IlceIsmiDonderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IlceIsmiDonderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Usta_Ekle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="alan_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sehir_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ilce_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="usta_ismi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usta_soyismi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usta_tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usta_mail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usta_puan" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="usta_musaitlik" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="altalan_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Usta_EkleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usta_EkleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uye_Girisi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sifre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uye_GirisiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Uye_GirisiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Geri_Bildirim_Gonder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="uye_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tarih" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bildirim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Geri_Bildirim_GonderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Geri_Bildirim_GonderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uye_Guncelle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="uye_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="uye_ad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uye_soyad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uye_tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uye_mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sehir_ismi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ilce_ismi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sifre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uye_GuncelleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Uye_GuncelleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Hizmet_Sorgula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_alan_ismi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_altalan_ismi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_sehir_ismi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_ilce_ismi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Hizmet_SorgulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Hizmet_SorgulaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Istek_Olustur">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="alan_ismi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dal_ismi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="uye_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sehir_ismi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ilce_ismi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aciklama" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tarih" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Istek_OlusturResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Istek_OlusturResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Geri_Bildirim_Listele">
        <s:complexType />
      </s:element>
      <s:element name="Geri_Bildirim_ListeleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Geri_Bildirim_ListeleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Geri_Bildirim_Sil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bildirim_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Geri_Bildirim_SilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Geri_Bildirim_SilResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Engelli_Uye_Listele">
        <s:complexType />
      </s:element>
      <s:element name="Engelli_Uye_ListeleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Engelli_Uye_ListeleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uye_Sorgula_forEngelle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Uye_Sorgula_forEngelleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Uye_Sorgula_forEngelleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UYE_ENGELLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="üye_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="engel_sebep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tarih" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UYE_ENGELLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UYE_ENGELLEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UYE_LİSTELE">
        <s:complexType />
      </s:element>
      <s:element name="UYE_LİSTELEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UYE_LİSTELEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IlceListesiSoapIn">
    <wsdl:part name="parameters" element="tns:IlceListesi" />
  </wsdl:message>
  <wsdl:message name="IlceListesiSoapOut">
    <wsdl:part name="parameters" element="tns:IlceListesiResponse" />
  </wsdl:message>
  <wsdl:message name="SehirListesiSoapIn">
    <wsdl:part name="parameters" element="tns:SehirListesi" />
  </wsdl:message>
  <wsdl:message name="SehirListesiSoapOut">
    <wsdl:part name="parameters" element="tns:SehirListesiResponse" />
  </wsdl:message>
  <wsdl:message name="AlanListesiSoapIn">
    <wsdl:part name="parameters" element="tns:AlanListesi" />
  </wsdl:message>
  <wsdl:message name="AlanListesiSoapOut">
    <wsdl:part name="parameters" element="tns:AlanListesiResponse" />
  </wsdl:message>
  <wsdl:message name="AltAlanListesiSoapIn">
    <wsdl:part name="parameters" element="tns:AltAlanListesi" />
  </wsdl:message>
  <wsdl:message name="AltAlanListesiSoapOut">
    <wsdl:part name="parameters" element="tns:AltAlanListesiResponse" />
  </wsdl:message>
  <wsdl:message name="HaberListeleSoapIn">
    <wsdl:part name="parameters" element="tns:HaberListele" />
  </wsdl:message>
  <wsdl:message name="HaberListeleSoapOut">
    <wsdl:part name="parameters" element="tns:HaberListeleResponse" />
  </wsdl:message>
  <wsdl:message name="HaberEkleSoapIn">
    <wsdl:part name="parameters" element="tns:HaberEkle" />
  </wsdl:message>
  <wsdl:message name="HaberEkleSoapOut">
    <wsdl:part name="parameters" element="tns:HaberEkleResponse" />
  </wsdl:message>
  <wsdl:message name="HaberSilSoapIn">
    <wsdl:part name="parameters" element="tns:HaberSil" />
  </wsdl:message>
  <wsdl:message name="HaberSilSoapOut">
    <wsdl:part name="parameters" element="tns:HaberSilResponse" />
  </wsdl:message>
  <wsdl:message name="HaberGüncelleSoapIn">
    <wsdl:part name="parameters" element="tns:HaberGüncelle" />
  </wsdl:message>
  <wsdl:message name="HaberGüncelleSoapOut">
    <wsdl:part name="parameters" element="tns:HaberGüncelleResponse" />
  </wsdl:message>
  <wsdl:message name="Usta_ListeleSoapIn">
    <wsdl:part name="parameters" element="tns:Usta_Listele" />
  </wsdl:message>
  <wsdl:message name="Usta_ListeleSoapOut">
    <wsdl:part name="parameters" element="tns:Usta_ListeleResponse" />
  </wsdl:message>
  <wsdl:message name="AlanIsmiDonderSoapIn">
    <wsdl:part name="parameters" element="tns:AlanIsmiDonder" />
  </wsdl:message>
  <wsdl:message name="AlanIsmiDonderSoapOut">
    <wsdl:part name="parameters" element="tns:AlanIsmiDonderResponse" />
  </wsdl:message>
  <wsdl:message name="AltAlanIsmiDonderSoapIn">
    <wsdl:part name="parameters" element="tns:AltAlanIsmiDonder" />
  </wsdl:message>
  <wsdl:message name="AltAlanIsmiDonderSoapOut">
    <wsdl:part name="parameters" element="tns:AltAlanIsmiDonderResponse" />
  </wsdl:message>
  <wsdl:message name="SehirIsmiDonderSoapIn">
    <wsdl:part name="parameters" element="tns:SehirIsmiDonder" />
  </wsdl:message>
  <wsdl:message name="SehirIsmiDonderSoapOut">
    <wsdl:part name="parameters" element="tns:SehirIsmiDonderResponse" />
  </wsdl:message>
  <wsdl:message name="IlceIsmiDonderSoapIn">
    <wsdl:part name="parameters" element="tns:IlceIsmiDonder" />
  </wsdl:message>
  <wsdl:message name="IlceIsmiDonderSoapOut">
    <wsdl:part name="parameters" element="tns:IlceIsmiDonderResponse" />
  </wsdl:message>
  <wsdl:message name="Usta_EkleSoapIn">
    <wsdl:part name="parameters" element="tns:Usta_Ekle" />
  </wsdl:message>
  <wsdl:message name="Usta_EkleSoapOut">
    <wsdl:part name="parameters" element="tns:Usta_EkleResponse" />
  </wsdl:message>
  <wsdl:message name="Uye_GirisiSoapIn">
    <wsdl:part name="parameters" element="tns:Uye_Girisi" />
  </wsdl:message>
  <wsdl:message name="Uye_GirisiSoapOut">
    <wsdl:part name="parameters" element="tns:Uye_GirisiResponse" />
  </wsdl:message>
  <wsdl:message name="Geri_Bildirim_GonderSoapIn">
    <wsdl:part name="parameters" element="tns:Geri_Bildirim_Gonder" />
  </wsdl:message>
  <wsdl:message name="Geri_Bildirim_GonderSoapOut">
    <wsdl:part name="parameters" element="tns:Geri_Bildirim_GonderResponse" />
  </wsdl:message>
  <wsdl:message name="Uye_GuncelleSoapIn">
    <wsdl:part name="parameters" element="tns:Uye_Guncelle" />
  </wsdl:message>
  <wsdl:message name="Uye_GuncelleSoapOut">
    <wsdl:part name="parameters" element="tns:Uye_GuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="Hizmet_SorgulaSoapIn">
    <wsdl:part name="parameters" element="tns:Hizmet_Sorgula" />
  </wsdl:message>
  <wsdl:message name="Hizmet_SorgulaSoapOut">
    <wsdl:part name="parameters" element="tns:Hizmet_SorgulaResponse" />
  </wsdl:message>
  <wsdl:message name="Istek_OlusturSoapIn">
    <wsdl:part name="parameters" element="tns:Istek_Olustur" />
  </wsdl:message>
  <wsdl:message name="Istek_OlusturSoapOut">
    <wsdl:part name="parameters" element="tns:Istek_OlusturResponse" />
  </wsdl:message>
  <wsdl:message name="Geri_Bildirim_ListeleSoapIn">
    <wsdl:part name="parameters" element="tns:Geri_Bildirim_Listele" />
  </wsdl:message>
  <wsdl:message name="Geri_Bildirim_ListeleSoapOut">
    <wsdl:part name="parameters" element="tns:Geri_Bildirim_ListeleResponse" />
  </wsdl:message>
  <wsdl:message name="Geri_Bildirim_SilSoapIn">
    <wsdl:part name="parameters" element="tns:Geri_Bildirim_Sil" />
  </wsdl:message>
  <wsdl:message name="Geri_Bildirim_SilSoapOut">
    <wsdl:part name="parameters" element="tns:Geri_Bildirim_SilResponse" />
  </wsdl:message>
  <wsdl:message name="Engelli_Uye_ListeleSoapIn">
    <wsdl:part name="parameters" element="tns:Engelli_Uye_Listele" />
  </wsdl:message>
  <wsdl:message name="Engelli_Uye_ListeleSoapOut">
    <wsdl:part name="parameters" element="tns:Engelli_Uye_ListeleResponse" />
  </wsdl:message>
  <wsdl:message name="Uye_Sorgula_forEngelleSoapIn">
    <wsdl:part name="parameters" element="tns:Uye_Sorgula_forEngelle" />
  </wsdl:message>
  <wsdl:message name="Uye_Sorgula_forEngelleSoapOut">
    <wsdl:part name="parameters" element="tns:Uye_Sorgula_forEngelleResponse" />
  </wsdl:message>
  <wsdl:message name="UYE_ENGELLESoapIn">
    <wsdl:part name="parameters" element="tns:UYE_ENGELLE" />
  </wsdl:message>
  <wsdl:message name="UYE_ENGELLESoapOut">
    <wsdl:part name="parameters" element="tns:UYE_ENGELLEResponse" />
  </wsdl:message>
  <wsdl:message name="UYE_LİSTELESoapIn">
    <wsdl:part name="parameters" element="tns:UYE_LİSTELE" />
  </wsdl:message>
  <wsdl:message name="UYE_LİSTELESoapOut">
    <wsdl:part name="parameters" element="tns:UYE_LİSTELEResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="IlceListesi">
      <wsdl:input message="tns:IlceListesiSoapIn" />
      <wsdl:output message="tns:IlceListesiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SehirListesi">
      <wsdl:input message="tns:SehirListesiSoapIn" />
      <wsdl:output message="tns:SehirListesiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlanListesi">
      <wsdl:input message="tns:AlanListesiSoapIn" />
      <wsdl:output message="tns:AlanListesiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltAlanListesi">
      <wsdl:input message="tns:AltAlanListesiSoapIn" />
      <wsdl:output message="tns:AltAlanListesiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HaberListele">
      <wsdl:input message="tns:HaberListeleSoapIn" />
      <wsdl:output message="tns:HaberListeleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HaberEkle">
      <wsdl:input message="tns:HaberEkleSoapIn" />
      <wsdl:output message="tns:HaberEkleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HaberSil">
      <wsdl:input message="tns:HaberSilSoapIn" />
      <wsdl:output message="tns:HaberSilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HaberGüncelle">
      <wsdl:input message="tns:HaberGüncelleSoapIn" />
      <wsdl:output message="tns:HaberGüncelleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Usta_Listele">
      <wsdl:input message="tns:Usta_ListeleSoapIn" />
      <wsdl:output message="tns:Usta_ListeleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlanIsmiDonder">
      <wsdl:input message="tns:AlanIsmiDonderSoapIn" />
      <wsdl:output message="tns:AlanIsmiDonderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltAlanIsmiDonder">
      <wsdl:input message="tns:AltAlanIsmiDonderSoapIn" />
      <wsdl:output message="tns:AltAlanIsmiDonderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SehirIsmiDonder">
      <wsdl:input message="tns:SehirIsmiDonderSoapIn" />
      <wsdl:output message="tns:SehirIsmiDonderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IlceIsmiDonder">
      <wsdl:input message="tns:IlceIsmiDonderSoapIn" />
      <wsdl:output message="tns:IlceIsmiDonderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Usta_Ekle">
      <wsdl:input message="tns:Usta_EkleSoapIn" />
      <wsdl:output message="tns:Usta_EkleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Uye_Girisi">
      <wsdl:input message="tns:Uye_GirisiSoapIn" />
      <wsdl:output message="tns:Uye_GirisiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Geri_Bildirim_Gonder">
      <wsdl:input message="tns:Geri_Bildirim_GonderSoapIn" />
      <wsdl:output message="tns:Geri_Bildirim_GonderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Uye_Guncelle">
      <wsdl:input message="tns:Uye_GuncelleSoapIn" />
      <wsdl:output message="tns:Uye_GuncelleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Hizmet_Sorgula">
      <wsdl:input message="tns:Hizmet_SorgulaSoapIn" />
      <wsdl:output message="tns:Hizmet_SorgulaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Istek_Olustur">
      <wsdl:input message="tns:Istek_OlusturSoapIn" />
      <wsdl:output message="tns:Istek_OlusturSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Geri_Bildirim_Listele">
      <wsdl:input message="tns:Geri_Bildirim_ListeleSoapIn" />
      <wsdl:output message="tns:Geri_Bildirim_ListeleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Geri_Bildirim_Sil">
      <wsdl:input message="tns:Geri_Bildirim_SilSoapIn" />
      <wsdl:output message="tns:Geri_Bildirim_SilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Engelli_Uye_Listele">
      <wsdl:input message="tns:Engelli_Uye_ListeleSoapIn" />
      <wsdl:output message="tns:Engelli_Uye_ListeleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Uye_Sorgula_forEngelle">
      <wsdl:input message="tns:Uye_Sorgula_forEngelleSoapIn" />
      <wsdl:output message="tns:Uye_Sorgula_forEngelleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UYE_ENGELLE">
      <wsdl:input message="tns:UYE_ENGELLESoapIn" />
      <wsdl:output message="tns:UYE_ENGELLESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UYE_LİSTELE">
      <wsdl:input message="tns:UYE_LİSTELESoapIn" />
      <wsdl:output message="tns:UYE_LİSTELESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IlceListesi">
      <soap:operation soapAction="http://tempuri.org/IlceListesi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SehirListesi">
      <soap:operation soapAction="http://tempuri.org/SehirListesi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlanListesi">
      <soap:operation soapAction="http://tempuri.org/AlanListesi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltAlanListesi">
      <soap:operation soapAction="http://tempuri.org/AltAlanListesi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaberListele">
      <soap:operation soapAction="http://tempuri.org/HaberListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaberEkle">
      <soap:operation soapAction="http://tempuri.org/HaberEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaberSil">
      <soap:operation soapAction="http://tempuri.org/HaberSil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaberGüncelle">
      <soap:operation soapAction="http://tempuri.org/HaberGüncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usta_Listele">
      <soap:operation soapAction="http://tempuri.org/Usta_Listele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlanIsmiDonder">
      <soap:operation soapAction="http://tempuri.org/AlanIsmiDonder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltAlanIsmiDonder">
      <soap:operation soapAction="http://tempuri.org/AltAlanIsmiDonder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SehirIsmiDonder">
      <soap:operation soapAction="http://tempuri.org/SehirIsmiDonder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IlceIsmiDonder">
      <soap:operation soapAction="http://tempuri.org/IlceIsmiDonder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usta_Ekle">
      <soap:operation soapAction="http://tempuri.org/Usta_Ekle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uye_Girisi">
      <soap:operation soapAction="http://tempuri.org/Uye_Girisi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Geri_Bildirim_Gonder">
      <soap:operation soapAction="http://tempuri.org/Geri_Bildirim_Gonder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uye_Guncelle">
      <soap:operation soapAction="http://tempuri.org/Uye_Guncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hizmet_Sorgula">
      <soap:operation soapAction="http://tempuri.org/Hizmet_Sorgula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Istek_Olustur">
      <soap:operation soapAction="http://tempuri.org/Istek_Olustur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Geri_Bildirim_Listele">
      <soap:operation soapAction="http://tempuri.org/Geri_Bildirim_Listele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Geri_Bildirim_Sil">
      <soap:operation soapAction="http://tempuri.org/Geri_Bildirim_Sil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Engelli_Uye_Listele">
      <soap:operation soapAction="http://tempuri.org/Engelli_Uye_Listele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uye_Sorgula_forEngelle">
      <soap:operation soapAction="http://tempuri.org/Uye_Sorgula_forEngelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UYE_ENGELLE">
      <soap:operation soapAction="http://tempuri.org/UYE_ENGELLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UYE_LİSTELE">
      <soap:operation soapAction="http://tempuri.org/UYE_LİSTELE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IlceListesi">
      <soap12:operation soapAction="http://tempuri.org/IlceListesi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SehirListesi">
      <soap12:operation soapAction="http://tempuri.org/SehirListesi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlanListesi">
      <soap12:operation soapAction="http://tempuri.org/AlanListesi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltAlanListesi">
      <soap12:operation soapAction="http://tempuri.org/AltAlanListesi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaberListele">
      <soap12:operation soapAction="http://tempuri.org/HaberListele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaberEkle">
      <soap12:operation soapAction="http://tempuri.org/HaberEkle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaberSil">
      <soap12:operation soapAction="http://tempuri.org/HaberSil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaberGüncelle">
      <soap12:operation soapAction="http://tempuri.org/HaberGüncelle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usta_Listele">
      <soap12:operation soapAction="http://tempuri.org/Usta_Listele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlanIsmiDonder">
      <soap12:operation soapAction="http://tempuri.org/AlanIsmiDonder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltAlanIsmiDonder">
      <soap12:operation soapAction="http://tempuri.org/AltAlanIsmiDonder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SehirIsmiDonder">
      <soap12:operation soapAction="http://tempuri.org/SehirIsmiDonder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IlceIsmiDonder">
      <soap12:operation soapAction="http://tempuri.org/IlceIsmiDonder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usta_Ekle">
      <soap12:operation soapAction="http://tempuri.org/Usta_Ekle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uye_Girisi">
      <soap12:operation soapAction="http://tempuri.org/Uye_Girisi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Geri_Bildirim_Gonder">
      <soap12:operation soapAction="http://tempuri.org/Geri_Bildirim_Gonder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uye_Guncelle">
      <soap12:operation soapAction="http://tempuri.org/Uye_Guncelle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hizmet_Sorgula">
      <soap12:operation soapAction="http://tempuri.org/Hizmet_Sorgula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Istek_Olustur">
      <soap12:operation soapAction="http://tempuri.org/Istek_Olustur" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Geri_Bildirim_Listele">
      <soap12:operation soapAction="http://tempuri.org/Geri_Bildirim_Listele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Geri_Bildirim_Sil">
      <soap12:operation soapAction="http://tempuri.org/Geri_Bildirim_Sil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Engelli_Uye_Listele">
      <soap12:operation soapAction="http://tempuri.org/Engelli_Uye_Listele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Uye_Sorgula_forEngelle">
      <soap12:operation soapAction="http://tempuri.org/Uye_Sorgula_forEngelle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UYE_ENGELLE">
      <soap12:operation soapAction="http://tempuri.org/UYE_ENGELLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UYE_LİSTELE">
      <soap12:operation soapAction="http://tempuri.org/UYE_LİSTELE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://192.168.2.45:62839/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://192.168.2.45:62839/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>